<!DOCTYPE html>
<html>
<head>
	<title>IMBD App</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheet.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
</head>
<body>
<main class="main">
	<div id="header" class="col-md-12 col-sm-12 text-center">
		<h1>Added to Watch List</h1>
	</div>
	<div class="container-fluid">
		<div class="col-md-12 col-sm-12">
			<ol class="breadcrumb">
			  <li><a href="/">Home</a></li>
			  <li><a href="/find">Search</a></li>
			  <li class="active">Added</li>
			</ol>
		</div>
		<div id="index_body" class="col-md-12 col-sm-12 text-center">
			<h3>Thanks, <%= savedMovie.title %> was added to your watch list</h3>
			<a href="/watch">
				<button type="submit" class="btn btn-default">Go To Watch List</button>
			</a>
		</div>
	</div>
</main>
</body>
</html>