<!DOCTYPE html>
<html>
<head>
	<title>IMBD App</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheet.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
</head>
<body>
<main class="main">
	<div id="header" class="col-md-12 col-sm-12 text-center">
		<h1>Your Personal IMDB</h1>
	</div>
	<div class="container-fluid">
		<div class="col-md-12 col-sm-12">
			<ol class="breadcrumb">
				<li><a href="/watch">Watch List</a></li>
			</ol>
		</div>
		<div id="front_page" class="col-md-12 col-sm-12 text-center">
			<img id="main_img" src="../reel2.jpg">
			<div id="space"></div>
			<h4>Making movie searches easier, one click at a time.</h4>
			<h4>Search movie titles, get information and ratings and save them to your watch list for later enjoyment.</h4> 
			<h4>Search, See, Save! </h4>
			<div id="space"></div>
			<a href="/find">
				<button id=""type="submit" class="btn btn-default">Start Searching</button>
			</a>
		</div>
	</div>
</main>
</body>
</html>