<!DOCTYPE html>
<html>
<head>
	<title>IMBD App</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheet.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
</head>
<body>
<main class="main">
	<div id="header" class="col-md-12 col-sm-12 text-center">
		<h1>Search for a Film</h1>
	</div>
	<div class="container-fluid">
		<div id="index_body" class="col-md-12 col-sm-12 text-center">
			<form action="/search" method="get">
				<input id="input"type="text" name="title" placeholder="Movie Title">
				<input id="btn" type="submit" value="Search">
			</form>
		</div>
	</div>
</main>
</body>
</html>