body {
	font-family: 'Lato', sans-serif;
}

#header {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #4EC6DE;
}

h1 {
	font-size: 70px;
	color: #FFFFFF;
	font-weight: 100;
}

h3 {
	color: #FFFFFF;
	padding-bottom: 50px;
}

h4 {
	color: #FFFFFF;
}

#index_body {
	padding-top: 100px;
	min-height: 500px;
}

#front_page {
	padding-top: 50px;
	min-height: 500px;
}

.main {
	background-color: #455250;
	min-height: 850px;
}

#btn {
	background-color: #7F917E;
	color: white;
	border-radius: 10px;
}

#input {
	border-radius: 10px;
}

li {
	color: #EAE2DF;
	padding-bottom: 15px;
	text-decoration: none;
	font-size: 15px
}

a {
	text-decoration: none;
	color: #EAE2DF;
}

a:hover {
	text-decoration: none;
	color: #4EC6DE;
}

span {
	font-size: 18px;
}

th {
	color: #FFFFFF;
	font-size: 20px;
}

td {
	color: #FFFFFF;
}

#main_img {
	height: 250px;
	width: 250px;
	border-radius: 250px;
}

#space {
	padding-bottom: 50px;
}

.breadcrumb {
	background-color: #455250;
}

.hidden {
	display: none;
}